{% extends "base.html" %}
{% load static %}

{% block 'title' %}
Dashboard | AutoSync
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}

{% block 'dashboard' %}
<div class="container-fluid distanciamento">
    <div class="row">
        <div class="card card-red">
            <div class="card-header">
                <span>Receita Total</span>
                <i class="fas fa-wallet"></i>
            </div>
            <div class="card-body">
                <h2>{{dados_cards.total_valor_finalizados|default:'0'}}</h2>
            </div>
        </div>
        
        <div class="card card-blue">
            <div class="card-header">
                <span>Serviços em Andamento</span>
                <i class="fas fa-spinner"></i>
            </div>
            <div class="card-body">
                <h2>{{dados_cards.total_pendentes|default:'0'}}</h2>
            </div>
        </div>
        
        <div class="card card-green">
            <div class="card-header">
                <span>Serviços Finalizados</span>
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="card-body">
                <h2>{{dados_cards.total_finalizados|default:'0'}}</h2>
            </div>
        </div>
        
        <div class="card card-yellow">
            <div class="card-header">
                <span>Valor Médio Por Serviço</span>
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="card-body">
                <h2>{{dados_cards.valor_medio|default:'0'}}</h2>
            </div>
        </div>

        <div class="card card-purple">
            <div class="card-header">
                <span>Serviços Reprovados</span>
                <i class="fas fa-star"></i>
            </div>
            <div class="card-body">
                <h2>{{dados_cards.orc_reprovado|default:'0'}}</h2>
            </div>
        </div>
    </div>
    <br>
    <hr style="background-color:gray;">
    <br>
    <div class="graficos">
        <div class="rosca">
            <p>Com esse dashboard você conseguirá facilmente visualizar o andamento por status de seus serviços</p>
            <canvas id="servicesChart"></canvas>
        </div>
        
        <div class="barras">
            <p>2</p>
            <canvas id="stackedBarChart"></canvas>
        </div>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('stackedBarChart').getContext('2d');
    const rootStyles = getComputedStyle(document.documentElement);
    const cardVermelho = rootStyles.getPropertyValue('--card-vermelho').trim();
    const cardAzul = rootStyles.getPropertyValue('--main-color').trim();
    const cardVerde = rootStyles.getPropertyValue('--card-azul').trim();
    const cardAmarelo = rootStyles.getPropertyValue('--contrast-color').trim();
    const cardRoxo = rootStyles.getPropertyValue('--card-roxo').trim();

    // Dados retornados do sistema
    const meses = {{meses_retorno|safe}};
    const categorias = {{categorias|safe}};
    const quantidadeServicosPorMes = {{quantidade_servicos_por_mes|safe}};

    const cores = [cardVermelho, cardAzul, cardVerde, cardAmarelo, cardRoxo];

    // Configuração do gráfico ajustada
    const stackedBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: categorias, // Categorias como rótulos do eixo X
            datasets: meses.map((mes, index) => ({
                label: mes,
                data: quantidadeServicosPorMes[mes], // Quantidade de serviços para o mês correspondente
                backgroundColor: cores[index % cores.length], // Cores diferentes por mês
                borderColor: cores[index % cores.length],
                borderWidth: 1,
            })),
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        color: '#fff',
                    },
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
            },
            scales: {
                x: {
                    stacked: true,
                    ticks: {
                        color: '#fff',
                    },
                },
                y: {
                    stacked: true,
                    ticks: {
                        color: '#fff',
                    },
                    title: {
                        display: true,
                        text: 'Quantidade de Serviços',
                        color: '#fff',
                    },
                },
            },
        },
    });
</script>



<script>
    // Gráfico de Distribuição de Serviços com fundo transparente
    const servicesCtx = document.getElementById('servicesChart').getContext('2d');
    
    new Chart(servicesCtx, {
        type: 'doughnut',
        data: {
            labels: ['Pendentes', 'Finalizados', 'Em Orçamento', 'Orçamento Reprovado'],
            datasets: [{
                data: [{{ dados_cards.total_pendentes }}, {{ dados_cards.total_finalizados }}, {{ dados_cards.em_orcamento }}, {{ dados_cards.orc_reprovado }}],
                backgroundColor: [cardAmarelo, cardVerde, cardAzul, cardVermelho], // Cores personalizadas [cardAmarelo, cardVerde, cardAzul, cardVermelho]
                hoverBackgroundColor: ['#ffdb73', '#2a9d8f', '#0099cc', '#ff6f6f'], // Cores ao passar o mouse
                borderWidth: 0
            }]
        },
        options: {
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        color: '#fff',
                        font: {
                            size: 10
                        }
                    }
                }
            },
            maintainAspectRatio: true, // Mantém a proporção do gráfico
            responsive: true, // Gráfico responsivo
        }
    });
</script>

<div>
    <h1>Dashboard 2</h1>
    <canvas id="chartSales"></canvas>
    <canvas id="ordercharts"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function SalesChart(data, labels) {
        var $chart = document.getElementById('chartSales').getContext('2d');

        new Chart($chart, {
            type: 'line',
            options: {
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 20
                            }
                        }
                    },
                    y: {
                        grid: {
                            lineWidth: 0.3,
                            color: '#ddd',
                            zeroLineColor: '#ddd',
                        },
                        ticks: {
                            callback: function (value) {
                                return 'R$ ' + value + ' ';
                            },
                            font: {
                                size: 20
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return 'R$ ' + context.raw;
                            }
                        }
                    }
                }
            },
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total / Mês',
                    data: data,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    tension: 0.4,
                    fill: true
                }]
            }
        });
    }

    function OrderChart(data, labels) {
        var orders_chart_data = data.map(obj => obj.total_order);

        var $chart = document.getElementById('ordercharts').getContext('2d');

        new Chart($chart, {
            type: 'bar',
            options: {
                scales: {
                    x: {
                        ticks: {
                            font: {
                                size: 20
                            }
                        }
                    },
                    y: {
                        grid: {
                            lineWidth: 1,
                            color: '#dfe2e6',
                            zeroLineColor: '#dfe2e6'
                        },
                        ticks: {
                            callback: function (value) {
                                if (!(value % 10)) {
                                    return value;
                                }
                            },
                            font: {
                                size: 20
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return context.raw;
                            }
                        }
                    }
                }
            },
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sales',
                    data: orders_chart_data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            }
        });
    }

    const data = {{ valores_meses|safe }};
    const labels = {{ nomes_meses|safe }};

    SalesChart(data, labels);
    OrderChart(data, labels);
</script>


{% endblock %}
