{% extends "base.html" %}
{% load static %}

{% block 'title' %}
Atualizar Serviço | AutoSync
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'servicos/css/editar_servico.css' %}">
{% endblock %}

{% block 'dashboard' %}
<br>
<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <a href="{% url 'novo_servico' %}">
                <div class="card-dashboard">
                    <p class="text-card">Adicionar Serviço</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'editar_servico' %}">
                <div class="card-dashboard">
                    <p class="text-card">Editar Serviço</p>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a href="{% url 'listar_servico' %}">
                <div class="card-dashboard">
                    <p class="text-card">Listar Serviços</p>
                </div>
            </a>
        </div>
    </div>

    <div class="editar_servico">
        <form action='{% url "editar_servico" %}' method="POST">
            {% csrf_token %}
                <label for="id_cliente">Serviços:</label>
                <select id="servico" onchange="atualiza_servico()" name="servico" class="form-control">
                    <option value="" disabled selected>Selecione um serviço</option>
                    {% for servico in servicos %}
                    <option value="{{ servico.id }}">{{ servico.titulo }} | {{ servico.cliente }}</option>
                    {% endfor %}
                </select>
        </form>
        <br>
        <div id="form-atualiza-servico" style="display: none;">
            <input type="hidden" id="id_servico">
            <p>Título:</p>
            <input type="text" id="titulo" class="form-control">
            <br>
            <p>Cliente:</p>
            <input type="text" id="cliente" class="form-control">
            <br>
            <p>Carro:</p>
            <input type="text" id="carro" class="form-control">
            <br>
            <p>Categoria de Manutenção:</p>
            <input type="text" id="categoria_manutencao" class="form-control">
            <br>
            <p>Data de Início:</p>
            <input type="date" id="data_inicio" class="form-control">
            <br>
            <p>Data de Entrega:</p>
            <input type="date" id="data_entrega" class="form-control">
            <br>
            <button id="salvar-servico" class="btn btn-success">Salvar</button>
        </div>
    </div>
</div>

<script src="{% static 'servicos/js/editar_servico.js' %}"></script>
{% endblock %}
