{% extends "base.html" %}
{% load static %}

{% block 'title' %}
Listagem de Serviços | AutoSync
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"> -->
{% endblock %}

{% block 'dashboard' %}
<div class="container-fluid distanciamento">
    <div class="cabecalho">
        <h3>Serviços:</h3>
    </div>
    <!-- <div class="row mb-3">
        <div class="col-12 d-flex justify-content-end"> 
            <div class="input-group" style="max-width: 300px;"> 
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input 
                    type="text" 
                    id="searchInput" 
                    class="form-control text-start" 
                    placeholder="O que deseja buscar?">
            </div>
        </div>
    </div> -->
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Protocolo</th>
            <th scope="col">Titulo do Serviço</th>
            <th scope="col">Mecânico Responsável</th>
            <th scope="col">Cliente</th>
            <th scope="col">Data de Inicio</th>
            <th scope="col">Data de Entrega</th>
            <th scope="col">Status</th>
            <th scope="col">Preço Total</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for servico in servicos %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'servico' servico.protocolo %}" target="_blank" class="badge badge-dark protocolo">{{ servico.protocolo }}</a>
                    </th>                    
                    <td>{{servico.titulo}}</td>
                    <td>{{servico.mecanico_resp|default:"-"}}</td>
                    <td>{{servico.cliente}}</td>
                    <td>{{servico.data_inicio|date:"d/m/Y"}}</td>
                    <td>{{servico.data_entrega|date:"d/m/Y"}}</td>
                    <td>
                        {% if servico.status == 'Em Orçamento' %}
                            <span class="badge badge-info">Em Orçamento</span>
                        {% elif servico.status == 'Orçamento Reprovado' %}
                            <span class="badge badge-danger">Orçamento Reprovado</span>
                        {% elif servico.status == 'Em Andamento' %}
                            <span class="badge badge-warning">Em Andamento</span>
                        {% else %}
                            <span class="badge badge-success">Finalizado</span>
                        {% endif %}
                    </td>
                    <td>{{servico.preco_total}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<!-- <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> -->
<script src="{% static 'servicos/js/lista_servico.js' %}"></script>
{% endblock %}
