:root{
     
    --main-color: #0077b6;         
    --dark-color: #023047;         
    --light-color: #caf0f8;        
    --contrast-color: #fcbf49;     
    --differential-color: #8ecae6; 
    --background-geral: #1b1f24; /* Azul escuro */
    --card-azul: #2a9d8f;
    --card-roxo: #023047;
    --card-vermelho: #e63946;
       
}